.contacts {
    position: relative;
    background-color: $main-bgc;    
    padding-top: 53px;
    max-height: 550px;
    
    &__wrapper {
        display: flex;
    }
    &__woman {
        margin-top: 0;
    }
    &__title {
        margin-top: 7px;
        margin-left: 113px;
        font-family: 'Inika';
        font-weight: 700;
        font-size: 40px;
        color: #499A18;
    }
    &__block {
        height: 100%;
        width: 450px;
    }
    &__accordion {
        position: relative;
        margin-top: 95px;
        margin-left: 64px;

        background: #D6E7D2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px; 

        height: 100%;
        width: 100%;
        color: #717171;
        z-index: 1;
        &-header {
            padding: 5px 35px 5px 20px; 
            font-family: 'Inter';
            font-weight: 400;
            font-size: 20px;
            line-height: 40px;
            letter-spacing: 0.05em; 
            // cursor: pointer;
            cursor: url('../icons/cursor.svg'), pointer;
            transition: all .6s;
            &::after {
                content: url('../icons/arrows/contact_arrow.svg');
                position: absolute;
                right: 35px;
                transition: all 0.6s; 
            }
            &.active-bgc {
                background: #C1E698;    
                padding-left: 35px;
            }
            &.active-arrow {
                &::after {
                    content: url('../icons/arrows/contact_arrow_active.svg');
                }
            }
            &.bgc_green {
                background: #C1E698;    
            }
        }
        &-wrapper {
            overflow: hidden;
            max-height: 0;
            transition: all .6s;
        }
        &-cities {
            padding: 27px 35px 30px 35px;
            font-family: 'Inter';   
            font-weight: 400;
            font-size: 16px;
            line-height: 40px;
            letter-spacing: 0.05em;
            color: #499A18;
        }
        &-city {
            // cursor: pointer;
            cursor: url('../icons/cursor.svg'), pointer;
            transition: all 0.6s;
            &:not(:first-child) {
                margin-top: 12px;
            }
            border-bottom: 1px solid #D9D9D9;    
            &:hover {
                color: #717171;
                border-bottom: 1px solid #717171;
            }
        }
    }   
    &__info {
        position: absolute;
        top: 245px;
        border: 1px solid #000000;
        border-radius: 20px;
        margin-left: 64px;
        display: none;
        &.active {
            display: block;
        }
        &-wrapper {
            width: 448px;
            padding: 17px 0 32px 33px;
            font-family: 'Inter';
            font-weight: 400;
            font-size: 16px;
            line-height: 40px;
            letter-spacing: 0.05em;
            color: #000000;
        }
    }
    &__city {

        span {
            margin-left: 93px;
            color: #717171;

        }
    }
    &__phone {

        span {
            margin-left: 67px;  
            color: #717171;
        }
    }
    &__adress {

        span {
            margin-left: 5px;
            color: #717171;
        }
    }
    &__btn {
        width: 122px;
        margin: 0 auto;
        margin-top: 24px;
        text-align: center;
        padding: 7px 29px;
        font-family: 'Inika';
        font-weight: 700;
        font-size: 10px;
        line-height: 13px;
        color: #717171;
        border: 1px solid #E06733;
        border-radius: 5px;
        // cursor: pointer;
        cursor: url('../icons/cursor.svg'), pointer;
        transition: all 0.6s;
        &:hover {
            background-color: $orange;
            color: #ffffff;
        }
    }
}
