@media (max-width: 768px) {
    .container {
        max-width: 668px;
        padding: 0;
    }
    .menu {
        max-height: 117px;
    }
    .welcome {
        max-height: 420px;
        &__wrapper {
            padding: 40px 0 70px 0;
            flex-direction: row-reverse;
        }
        &__block {
            max-width: 340px;
        }
        &__leafs {
            width: 280px;
            height: 254px;
        }
        &__title {
            margin: 0;
            font-size: 35px;
        }
        &__descr {
            margin-top: 30px;
            font-size: 16px;
            line-height: 25px;
        }
        &__btn {
            margin-top: 30px;
        }
    }
    .about {
        max-height: 783px;
        &__wrapper {
            flex-direction: column;
            padding: 40px 0 95px 0;
        }
        &__block {
            max-width: 100% ;
        }
        &__title {
            max-width: 423px;
            margin: 0 auto;
            text-align: center;
            font-size: 35px;
            line-height: 46px;
            height: 102px;
        }
        &__descr {
            font-size: 20px;
            line-height: 30px;
            height: 208px;
        }
        &__houseplant {   
            margin: 40px auto 0 auto;
            width: 250px;
            height: 258px;
        }
    }
    .service {
        padding: 60px 0 70px 0;
        &__wrapper {
            flex-direction: column;
            width: 100%;
        }
        &__title {
            font-size: 35px;
            line-height: 46px;
        }
        &__btns {
            margin-top: 40px;
        }
        &__img-wrapper {
            margin-top: 40px;
            grid-template-columns: repeat(auto-fit, 280px);
            column-gap: 107px;
            row-gap: 38px;
        }
        &__img {
            width: 280px;
            height: 350px;
        }
        &__border {
            padding-bottom: 20px;
        }
    }
    .prices {
        padding: 40px 0 80px 0;
        &__left {
            font-size: 35px;
            line-height: 42px;
            margin-left: 15px;  
        }
        &__right {
            margin-top: 100px;
            font-size: 25px;
            line-height: 35px;
        }
        &__btn {
            margin-top: 30px;
        }
        &__img {
            margin-top: 30px;
        }
    }
    .contacts {
        max-height: 100%;
        padding-top: 40px;
        &__info {
            margin: 0;
            &.active {
                position: static;
                margin-top: 60px;
            }
        }
        &__title {
            margin: 0;
            font-size: 40px;
            line-height: 52px;
        }
        &__accordion {
            display: inline-block;
            margin-left: 0;
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__woman {
            margin-top: 250px;
            margin-left: 20px;
            display: flex;
            order: 3;
            width: 200px;
            height: 250px;
        }
    }
    .footer {
        flex-direction: column;
        padding: 33px 0 18px 0;
        line-height: 24px;
        &__git {
            margin-right: 0;
        }
        &__name {
            margin-top: 16px;
        }
        &__social {
            margin-top: 27px;
        }
    }
}

@media(max-width: 380px) {
    .container {
        max-width: 330px;
    }
    .menu {
        padding: 36px 0;
        max-height: 96px;
        &__list {
            position: fixed;
            flex-direction: column;
            left: -100%;
            top: 0;
            height: 100%;
            width: 60%;
            background-color: $main-bgc;
            justify-content: center;
            align-items: center;
            z-index: 1;
            &.active {
                left: 0;
            }
        }
        &__item {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        &__link {
            font-size: 26px;
            color: #717171;
            padding: 20px;
        }
        &__overlay {
            background-color: #000000;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: fixed;
            opacity: 0;
            &.active {
                opacity: 0.7;
            }
        }
    }

}