header {
    background-color: $main-bgc;
}
.menu {
    max-height: 134px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0px;

    &__list {
        width: 452px;
        display: flex;
        justify-content: space-between;
        list-style-type: none;

    }
    &__link {
        font-family: Inika;
        font-weight: 400;
        font-size: 16px;
        line-height: 50px;
        color: #010201;
        text-decoration: none;
        transition: all 0.3s;
        &:hover {
            color: $orange;
        }
    }
}
.close {
    display: none;
}
