@import 'libs/normalize';
@import 'base/variables';


* {
    font-family: Inter, Inika, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
  }
  

.container {
    max-width: 1440px;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
}

main {
    margin-bottom: auto;
}



@import 'blocks/menu';
@import 'blocks/footer';
@import 'blocks/welcome';
